.TextCenter {
  text-align: center;
}
.Weather {
  border: solid 1px white;
  border-radius: 5px;
  padding: 18px;
  max-width: 800px;
}
.SearchForm {
  padding: 10px;
}
.SearchBox {
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 15px;
}
.SearchButton {
  padding: 10px 15px;
  border-radius: 7px;
  color: #6bd5e1;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
}

ul {
  list-style: none;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
img {
  display: inline-block;
  height: 65px;
  width: 75px;
}

.currentTemperature {
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
}
.units {
  position: relative;

  font-size: 20px;
}
